* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f8f9fa;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
nav {
    margin-left: auto;
}
nav ul {
    list-style: none;
    display: flex;
}

.title a {
    color: blue;
    text-decoration: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: white;
}

.text {
    max-width: 50%;
}

.text h2 {
    font-size: 32px;
    font-weight: bold;
}

.text button {
    background: #ff6363;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.card-image img {
    width: 150px;
    border-radius: 50%;
}

.posts, .featured {
    padding: 30px;
    margin-top: 10px;

}
.featured {
    display: flex;
    background: white;
}
.card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.post{
}
.post, .work {
    margin: 10px;
    height: 200px;
    padding: 20px;
    background-color: white;
}

footer {
    padding: 20px;
    background-color: white;
}
.content1{
    display: flex;
    width: 790px;
    justify-content: left;
}
.content1 img{
    margin:10px 20px;
    border-radius: 5px;
}
hr{
    margin-left: 20px;
    width: 780px;
}
.content2{
    display: flex;
    width: 790px;
}
.content2 img{
    width: 260px;
    height: 200px;
    margin:10px 20px;
    border-radius: 5px;
}
.content3{
    display: flex;
    width: 790px;
}
.content3 img{
    width: 260px;
    height: 200px;
    margin:10px 20px;
    border-radius: 5px;
}.time{
    display: flex;
}
.time button{
    margin: 15px 20px 0 10px;
    background-color: #142850;
    color: #91b8c7;
    border-radius: 20px;
}
.icon{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}


@media (max-width: 768px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .text {
        max-width: 100%;
    }

    .card-image img {
        margin-top: 20px;
    }
}